
h1{
  text-align: center; 
  margin-bottom: 2px
}

footer{
  margin-top: 30px;
}

a{ /*same as .toc container, separated for future changes*/
  text-decoration: none;
  font-weight: bold;
  color: #0645ad;
}

/*https://stackoverflow.com/questions/10405945/html-ordered-list-1-1-1-2-nested-counters-and-scope-not-working*/
ol{ /*separate rules to allow sub-indexing*/
  counter-reset: item;
  padding-left: 10px;
}
li{
  display: block;
}
li::before{
  content: counters(item, ".") " ";
  counter-increment: item;
}

table, th, td{
  border: 1px solid gray;
  border-collapse: collapse; 
  /*
  */
  width: 100%;
  margin: 1px;
  padding: 5px; /*padding between content and border*/
}

.buttSpoiler{
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: none;
  cursor: pointer;
}

.divSeparator {
  border-top: 1px solid #147c80;
  border-bottom: 1px solid #147c80;
  height: 1px;
  margin: 16px 0;
}

.toc_container{
  background: #e7e7e7 none repeat scroll 0 0;
  border: 1px solid #aaa;
  display: table;
  font-size: 95%;
  margin-bottom: 1em;
  padding: 10px;
  width: auto;
}
.toc_title{
  text-align: center;
}
.toc_container a{
  text-decoration: none;
  font-weight: bold;
  color: #0645ad;
}
.toc_container li, .toc_container ol, .toc_container ol li{
  margin-bottom: 5px;
  list-style-position: inside;
  /* 
  padding: 0;
  list-style: inside none none;
  no deberia necesitar important, esta ligado a una clase
  list-style: outside none none !important; igual creo esta mal
  list-style: <list-style-type> || <list-style-position> || <list-style-image>;
  type es figura,
  position es del marcador/figura
  image es url de imagen, lo cambia por el type
  */
}
/* not aesthetic
.toc_container ol li::marker {
  color: -webkit-link;
}*/

.Opciones{
  /*
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  margin-bottom: 3px;
  */
}
.Opciones button{
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 3px;
  display: inline-block;
  width: fit-content;

  border-radius: 8px;
  background-color: lightblue;
}

#loading{
  border: 16px solid #F3FFFA;
  border-top: 16px solid #42544D;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: none;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}